body {
    margin: 0;
    padding: 0;
    font-family: 'Source Sans Pro', sans-serif;
    background-color: whitesmoke;
}
.homeImage {
    position: relative;
    text-align: center;
}

#title {
    margin-top:0%;
	font-weight: bold;
	font-size: 2rem;
    color:white;
}
h6{
    color: whitesmoke;
}
.logo{
    margin-top: -40%;
}
.logoo{
    margin-top: 13%;
}
#about {
    margin-top: 5%;
}
.paragraph{
    text-align: center;
}
#services{
    margin-top: -18%;
    color: whitesmoke;
    font-size: 15px;
}
.parag{
    text-align: center;
}
.container{
    margin-top:15%;
}
.whatwedo{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    margin-top: 5%;
}
.design{
    color: black;
    text-decoration:none;
}