body {
    margin: 0;
    padding: 0;
    font-family: 'Source Sans Pro', sans-serif;
    background-color: whitesmoke;
}
.homeImage {
    position: relative;
    text-align: center;
}

#title {
    margin-top:0%;
	font-weight: bold;
	font-size: 2rem;
    color:white;
}
h6{
    color: whitesmoke;
}
.logo{
    margin-top: -40%;
}
.logoo{
    margin-top: 13%;
}
#about {
    margin-top: 5%;
}
.paragraph{
    text-align: center;
}
#services{
    margin-top: -18%;
    color: whitesmoke;
    font-size: 15px;
}
.parag{
    text-align: center;
}
.container{
    margin-top:15%;
}
#service{
    margin-bottom: 10%;
}
.design{
    color: black;
    text-decoration:none;
}
form{
    margin-top: -10%;
    background-color: transparent;
    display: flex;
    justify-content: center;
     align-items: center;
    padding: 0px 10% 0px 10%;
    }
#inputName{
        background-color: transparent;
        height: 30px;
        border-radius: 0px;
    }
#inputEmail{
        background-color: transparent;
        height: 30px; 
        border-radius: 0px;
    }
    
    #inputMessage{
        background-color: transparent;
        border-radius: 0px;
    }
    input[type="text"]::-webkit-input-placeholder {
        color:white;
    }
    input[type="email"]::-webkit-input-placeholder {
        color:white;
    }
    textarea::-webkit-input-placeholder {
        color: white;
    }
}